.container
{
    margin-top: 1cm;
    margin-left: 8cm;
    width: 20cm;
    height: 15cm;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.img
{
    margin-left: 6cm;
    width:8cm;
    height: 8cm;
   
   
}
.img1
{
    width:8cm;
    height: 8cm;
    object-fit: cover;

}
h1{
    margin-top: -0.3cm;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.texttwo
{
    color: blue;
   
}
.cli
{
    text-decoration: none;
}
.btn
{
    width: 4.5cm;
    height: 1.2cm;
    border-radius: 25px;
    border:none;
    outline: none;
    margin-top: 0.7cm;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  background-image: linear-gradient(to right,#0143ad 0%,#6cb1d1 100%);
    box-shadow: 0px  8px 15px rgba(0,0,0,0.1);
}
.btn:hover
{
    transform: translateY(-05px);
}
span
{
   margin-left: 1cm;
}
.link
{
    margin-top: 0.7cm;
}
.input
{
    width: 10cm;
    height: 1cm;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(252, 245, 245);
    text-align: center;
    box-shadow: 05px 0 20px  rgba(0,0,0,0.1);
}
.pen
{
    position: absolute;
    margin-left: 2.2cm;
    margin-top: 0.3cm;
    color:gray ;
}


@media only screen and (max-width: 768px) {


.container
{
    margin-top: 0.5cm;
    margin-left: 1cm;
    width: 10cm;
    height: 14cm;  
   
}
.img
{
    margin-left: 1cm;
   
}
h1{
    
    font-size: 25px;
    
}
.input
{
    width: 8cm;
   
}
.pen
{
    
    margin-left: 1.2cm;
   
}
.btn
{
    width: 4cm;
    height: 1cm;
   
}
.link
{
    margin-left: -1.5cm;
}
}
